@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome Mayuresh Yerendekar</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <h1>This are the list of Courses Which We offers Version 3 </h1>
    <table class="table table-striped table-bordered">
        <thead class="table-dark">
            <tr>
                <th class="th-sm" scope="col">Courses Id</th>
                <th class="th-sm" scope="col">Courses Name</th>
                <th class="th-sm" scope="col">Courses Rating</th>
            </tr>
        </thead>

        <tbody>
            @foreach(Course course in @Model.courses)
            {
                <tr>
                    <th scope="row">@course.CourseId</th>
                    <td>@course.CourseName</td>
                    <td>@course.Rating</td>
                </tr>
            }
           
        </tbody>
    </table>
</div>
